body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 30px;
}

h2 {
  font-family: "Sixtyfour Convergence", sans-serif;
  font-size: 5.5rem;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0,
    "XELA" 0,
    "YELA" 0;
  text-align: center;
  margin: 0.625rem auto 3.125rem;
}

h3 {
  text-align: center;
  font-size: 3rem;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

section:not(:first-of-type) {
  width: 90%;
  margin: 0 auto;
  border-bottom: 0.18rem dotted darkolivegreen;
  padding: 4.375rem 0;
}

/* header */
header {
  position: sticky;
  top: 0;
  background-color: tomato;
}

header a.logo {
  display: flex;
}

header img {
  align-self: center;
  justify-content: flex-start;
  width: 60%;
  height: auto;
}

#main-nav {
  display: flex;
  justify-content: space-between;
}

#hamb-icon:link,
#hamb-icon:active,
#hamb-icon:visited {
  color: white;
}

#hamb-icon i {
  align-self: center;
  color: white;
  background-color: tomato;
  font-size: 2.5rem;
  padding: 1rem;
}

nav {
  overflow: hidden;
  position: relative;
  display: none;
  width: 100%;
  text-align: center;
  background-color: white;
}

nav a {
  color: tomato;
  padding: 14px 16px;
  font-size: 2.5rem;
  display: block;
  border-bottom: 1px dotted tomato;
}

nav a:link,
nav a:active,
nav a:visited {
  color: tomato;
}

/* hero */
#hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(31, 106, 49, 0.5)), url("./images/store-land.png");
  width: 100%;
  max-width: 100%;
  height: 40rem;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -5.7rem;
}

#title {
  margin: 0.625rem 0 0.312rem;
  visibility: hidden;
}

#hero p {
  display: inline-block;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.937rem;
  margin-bottom: 0;
}

/* products */

#products .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#products article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.25rem;
  border: 0.12rem rgb(198, 195, 195) solid;
  border-radius: 0.5rem;
  min-width: 11rem;
  padding: 3% 2%;
}

#products .price {
  align-self: center;
  font-size: larger;
}

#products button {
  color: white;
  width: 80%;
  font-size: 2.5rem;
  font-weight: bold;
  background-color: tomato;
  border: 0.06rem tomato solid;
  border-radius: 0.5rem;
  padding: 5% 1%;
}

#products img {
  width: 80%;
  height: auto;
}

/* Out Team */

#team .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#team article {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.06rem tomato solid;
  border-radius: 0.5rem;
  margin: 1rem 0.3rem;
}

#team article img {
  width: 70%;
  height: auto;
  border-radius: 50%;
  padding: 0.937rem;

}

/* Contact */
#contact {
  border-bottom: none;
}

#contact .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

#contact .location,
#contact .social {
  width: 40%;
}

#contact .social a {
  color: black;
}

#contact .content i {
  color: tomato;
}

#contact img {
  border-radius: 0.625rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: tomato;
  height: 3.125rem;

}

footer a:link,
footer a:active,
footer a:visited {
  color: white;
}

@media only screen and (max-device-width:480px) {

  #myLinks {
    border-bottom: 5px tomato solid;
  }

  #hero p {
    display: none;
  }

  footer {
    font-size: 1.5rem;
  }

}

@media only screen and (min-device-width: 481px) and (max-device-width:768px) {

  body {
    font-size: 24px;
  }


}

@media only screen and (min-device-width: 481px) {

  /* header */
  header {
    display: inline-flex;
    justify-content: space-between;
  }

  /* Nav */
  nav {
    display: flex;
    justify-content: flex-end;
    background-color: white;
    align-self: center;
    border-radius: 0.312rem;
    margin-right: 0.937rem;
    width: 50%;
  }

  nav a {
    padding: 1.25rem 0.312rem;
    font-weight: bold;
    font-size: 1.5rem;
    border: none;
    display: inline-block;
    padding: 0.5rem 0.5rem;
  }

  nav a:link,
  nav a:active,
  nav a:visited {
    color: tomato;
  }

  #hamb-icon {
    display: none;
  }
}

@media only screen and (min-device-width:769px) {

  h3 {
    font-size: 2rem;
  }

  #products article {
    max-width: 20%;
  }

  #products article img {
    width: 11rem;
    height: auto;
  }

  #products article h3 {
    margin: 0.625rem;
  }

  #products button {
    width: 11rem;
    font-size: 1rem;
  }

  /* Out Team */
  #team .list {
    justify-content: space-around;
  }

  #team article img {
    width: 9.375rem;
    height: 9.375rem;
  }

  #contact img {
    width: 90%;
    height: auto;
    border-radius: 0.625rem;
  }

}
